@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

body {
    background: linear-gradient(90deg,#1d2d44, #231942);
    height: 100vh;
}

.text-gradient {
    background: linear-gradient(45deg, #1982c4 0%, #0552ac 25%, #c77dff 50%, #b42150 75%, #a98467 100%);
    background-size: 250% 250%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
    0% { 
        background-position: 0%, 50%;
    }
    50% { 
        background-position: 100%, 50%;
    }
    100% { 
        background-position: 0%, 50%;
    }
}

.img-border {
    box-shadow: 0 8px 32px white;
    animation: shadow 5s ease infinite;
}

@keyframes shadow {
    0% {
        box-shadow: 0 4px 16px #e0aaff; 
    }
    25% {
        box-shadow: 0 6px 24px #e0aaff; 
    }
    50% {
        box-shadow: 0 8px 32px #e0aaff; 
    }
    75% {
        box-shadow: 0 6px 24px #e0aaff; 
    }
    100% {
        box-shadow: 0 4px 16px #e0aaff; 
    }
}

.text-gradient2 {
    background: linear-gradient(30deg, #1982c4 0%, #0552ac 25%, #c77dff 50%, #b42150 75%, #a98467 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-shadow {
    -webkit-text-stroke: #5a189a;
}

.glass {
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1.4px solid black;
    animation: borderAnimation 3s ease-in infinite;
}

@keyframes borderAnimation {
    0% {
        border-color: #1982c4 #a98467 #c77dff #b42150;
    }
    25% {
        border-color: #b42150 #1982c4 #a98467 #c77dff;
    }
    50% {
        border-color: #c77dff #b42150 #1982c4 #a98467;
    }
    75% {
        border-color: #a98467 #c77dff #b42150 #1982c4;
    }
    100% {
        border-color: #1982c4 #a98467 #c77dff #b42150;
    }
}

.font-aldrich {
    font-family: "Aldrich", serif;
    font-weight: 300;
    font-style: normal;
  }
  
.glass2 {
    background: rgba( 255, 255, 255, 0.02 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
}

.text-gradient3 {
    background: linear-gradient(45deg,#c77dff 10%,#b42150 30%, #f4d35e 60%,  #0552ac 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient4 {
    background: linear-gradient(45deg,#c77dff 0%, #f15bb5 50%,  #0552ac 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}